<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

			<header id="header">
				<span class="avatar-mini"><img src="{{ url_for('static', filename='img/avatar.png') }}" alt="" /></span>
			</header>
			<span class="custom-br"></span>
			<h1>{{_('An unexpected error has occurred')}}</h1>
			<p>{{_('The administrator has been notified. Sorry for the inconvenience!')}}

            <!-- Footer -->
                <footer id="footer">
                    <p>&copy; All rights reserved. Design: Yevhen Vovk. 2023</p>
                </footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
	</body>
</html>



