{% extends "base.html" %}


<!-- Background -->
{% block animate_background %}
	<ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
{% endblock %}


<!-- Header -->
{% block header %}
	<header id="header">
		<span class="avatar-mini"><img src="{{ url_for('static', filename='img/avatar.png') }}" alt="" /></span>
	</header>
<span class="custom-br"></span>
{% endblock %}


<!-- Main -->
{% block main %}
	<section id="main">
		<div class="contact_info">
			<h1>{{_('Official Website Of The Biker Club Podorozhnyky')}}</h1>
			<p>{{_('The purpose of the club is to unite like-minded people, regardless of which motorcycles they ride, as well as promotion of a healthy lifestyle and not only that. Support for young people who want to learn more about the biker movement in Ukraine. Help to everyone who needs it on the road.
In our club, everyone is on the same level - all bikers, all people - even despite the motorcycles.')}}</p>
			<h2>{{_('Location: Ukraine, Valki')}}</h2>
			<div class="google_map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20585.841019625175!2d35.59663547656598!3d49.83813335323688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127891149694813%3A0xeca911abf34df261!2z0JLQsNC70LrQuCwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjMwMDA!5e0!3m2!1sru!2sua!4v1686047489030!5m2!1sru!2sua"></iframe>
			</div>

		<div class="contact_data">
			<div class="contact_container">
				<a href="tel:+380501680310">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<p>{{_('Vice president: ')}}+38(050)-168-03-10</p>
				</a>
			</div>
			<div class="contact_container">
				<i class="fa fa-map-marker"></i>
				<p>{{_('Stadionna Street, 1')}} </p>
				<p>{{_('Ukraine, Valki')}}</p>
			</div>
			<div class="contact_container">
				<a href="mailto: mfc.podorozhnyky@gmail.com" target="_blank">
					<i class="fa fa-envelope-o"></i>
					<p>mfc.podorozhnyky<br>@gmail.com</p>
				</a>
			</div>
			<div class="contact_container">
				<a href="https://www.facebook.com/profile.php?id=100094907772038" target="_blank">
					<i class="fa fa-facebook"></i>
					<p>Facebook</p>
				</a>
			</div>
		</div>
		</div>
	</section>
{% endblock %}


<!-- Scripts -->
{% block js_script %}
{% endblock %}
				
