{% extends "base.html" %}


<!-- Background -->
{% block animate_background %}
{% endblock %}


<!-- Header -->
{% block header %}
	<header id="header_index">
		<span class="avatar">
			<img src="{{ url_for('static', filename='img/avatar.png') }}" alt="" />
		</span>
		<h1 class="title_text">{{_('At least apply to the wound')}}...</h1>
		<ul class="icons">
			<li><a href="https://www.facebook.com/profile.php?id=100094907772038" class="icon style2 fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
			<li><a href="https://www.instagram.com/mfc_podorozhnyky/" class="icon style2 fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			<li><a href="https://telegram.me/Podorozhnyky" class="icon style2 fa-telegram" target="_blank"><span class="label">Telegram</span></a></li>
			<li><a href="mailto: mfc.podorozhnyky@gmail.com" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>
	</header>
{% endblock %}


<!-- Main -->
{% block main %}
	<section id="main">
		<div class="banner_wrapper">
			<div class="slideshow-container">

				{% for banner in content.banner %}
					<div class="mySlides fade">
						<img src="{{ url_for('static', filename='img/banners/' + banner) }}" >
					</div>
				{% endfor %}

				<div class="dot_container">

					{% for banner in content.banner %}
						<span class="dot"></span>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>
{% endblock %}


<!-- Scripts -->
{% block js_script %}
	<script src="{{ url_for('static', filename='js/banner.js') }}"></script>
{% endblock %}
