{% extends "base.html" %}

<!-- Header -->
{% block header %}
	<header id="header">
		<span class="avatar-mini"><img src="{{ url_for('static', filename='img/avatar.png') }}" alt="" /></span>
	</header>
<span class="custom-br"></span>
{% endblock %}


<span class="custom-br"></span>

<!-- Main -->
{% block main %}
	<section id="main">
		<h1>{{_('Official website of the biker club Podorozhnyky')}}</h1>

		<!-- Thumbnails -->
			<section class="thumbnails">
				<div>
					<a href="{{ url_for('static', filename='img/fulls/01.jpg') }}">
						<img src="{{ url_for('static', filename='img/photos/01.jpg') }}" alt="" />
						<h3>{{_('Open seasson 2023')}}</h3>
					</a>
					<a href="{{ url_for('static', filename='img/fulls/02.jpg') }}">
						<img src="{{ url_for('static', filename='img/photos/02.jpg') }}" alt="" />
						<h3>{{_('Far away, over the horizon...')}}</h3>
					</a>
				</div>
				<div>
					<a href="{{ url_for('static', filename='img/fulls/03.jpg') }}">
						<img src="{{ url_for('static', filename='img/photos/03.jpg') }}" alt="" />
						<h3>{{_('Received club t-shirts')}} </h3>
					</a>
					<a href="{{ url_for('static', filename='img/fulls/04.jpg') }}">
						<img src="{{ url_for('static', filename='img/photos/04.jpg') }}" alt="" />
						<h3>{{_('Moto cat in the Podorozhniki club')}}</h3>
					</a>
					<a href="{{ url_for('static', filename='img/fulls/05.jpg') }}">
						<img src="{{ url_for('static', filename='img/photos/05.jpg') }}" alt="" />
						<h3>{{_('Lorem ipsum dolor sit amet')}}</h3>
					</a>
				</div>
				<div>
					<a href="{{ url_for('static', filename='img/fulls/06.jpg') }}">
						<img src="{{ url_for('static', filename='img/photos/06.jpg') }}" alt="" />
						<h3>{{_('Crazy Did Valerka!!')}}</h3>
					</a>
					<a href="{{ url_for('static', filename='img/fulls/07.jpg') }}">
						<img src="{{ url_for('static', filename='img/photos/07.jpg') }}" alt="" />
						<h3>{{_('Lorem ipsum dolor sit amet')}}</h3>
					</a>
				</div>
			</section>

	</section>
{% endblock %}
