{% extends "base.html" %}


<!-- Background -->
{% block animate_background %}
	<ul class="circles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
{% endblock %}


<!-- Header -->
{% block header %}
	<header id="header">
		<span class="avatar-mini"><img src="{{ url_for('static', filename='img/avatar.png') }}" alt="" /></span>
	</header>
<span class="custom-br"></span>
{% endblock %}


<span class="custom-br"></span>

<!-- Main -->
{% block main %}
	<section id="main">
		<h1>{{_('Official Website Of The Biker Club Podorozhnyky')}}</h1>
		<div class="photo_head">
			<h3>{{_('Photo Gallery')}}</h3>
		</div>

		<!-- Paginator -->
		<div class="pagination">
			<a href="?page=1">&laquo;</a>

			{% if content.paginator.previous_page %}
				<a href="?page={{ content.paginator.previous_page }}">{{ content.paginator.previous_page }}</a>
			{% endif %}

			<a class="active" href="?page={{ content.paginator.page }}" >{{ content.paginator.page }}</a>

			{% if content.paginator.next_page %}
				<a href="?page={{ content.paginator.next_page }}">{{ content.paginator.next_page }}</a>

				{% if content.paginator.next_page != content.paginator.total_pages %}
					<a href="#">...</a>
					<a href="?page={{ content.paginator.total_pages }}">{{ content.paginator.total_pages }}</a>
				{% endif %}

			{% endif %}

			<a href="?page={{ content.paginator.total_pages }}">&raquo;</a>

		</div>

		<!-- Thumbnails -->
			<section class="thumbnails">
				<div>
					{% for el in content.images_list.0 %}
						<a href="{{ url_for('static', filename='img/fulls/' + el) }}">
							<img src="{{ url_for('static', filename='img/photos/' + el) }}" alt="" />
							{% if content.comment_text[el] %}
								<h3>{{ content.comment_text[el] }}</h3>
							{% else  %}
								<h3>{{ el }}</h3>
							{% endif %}
						</a>
					{% endfor %}

				</div>

				<div>
					{% for el in content.images_list.1 %}
						<a href="{{ url_for('static', filename='img/fulls/' + el) }}">
							<img src="{{ url_for('static', filename='img/photos/' + el) }}" alt="" />
							{% if content.comment_text[el] %}
								<h3>{{ content.comment_text[el] }}</h3>
							{% else  %}
								<h3>{{ el }}</h3>
							{% endif %}
						</a>
					{% endfor %}
				</div>

				<div>
					{% for el in content.images_list.2 %}
						<a href="{{ url_for('static', filename='img/fulls/' + el) }}">
							<img src="{{ url_for('static', filename='img/photos/' + el) }}" alt="" />
							{% if content.comment_text[el] %}
								<h3>{{ content.comment_text[el] }}</h3>
							{% else  %}
								<h3>{{ el }}</h3>
							{% endif %}
						</a>
					{% endfor %}
				</div>
			</section>
	</section>
{% endblock %}


<!-- Scripts -->
{% block js_script %}
	<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
{% endblock %}