{% extends "base.html" %}

<!-- Header -->
{% block header %}
	<header id="header">
		<span class="avatar-mini"><img src="{{ url_for('static', filename='img/avatar.png') }}" alt="" /></span>
	</header>
<span class="custom-br"></span>
{% endblock %}


<span class="custom-br"></span>

<!-- Main -->
{% block main %}
	<section id="main">
		<h1>{{_('Official website of the biker club Podorozhnyky')}}</h1>

		<!-- Thumbnails -->
			<section class="thumbnails">

				<div>
					{% for el in content.images_list.0 %}
						<a href="{{ url_for('static', filename='img/fulls/' + el) }}">
							<img src="{{ url_for('static', filename='img/photos/' + el) }}" alt="" />
							{% if content.comment_text[el] %}
								<h3>{{ content.comment_text[el] }}</h3>
							{% else  %}
								<h3>{{ el }}</h3>
							{% endif %}
						</a>
					{% endfor %}

				</div>

				<div>
					{% for el in content.images_list.1 %}
						<a href="{{ url_for('static', filename='img/fulls/' + el) }}">
							<img src="{{ url_for('static', filename='img/photos/' + el) }}" alt="" />
							{% if content.comment_text[el] %}
								<h3>{{ content.comment_text[el] }}</h3>
							{% else  %}
								<h3>{{ el }}</h3>
							{% endif %}
						</a>
					{% endfor %}

					{% if content.images_list|length > 3 %}
						{% for el in content.images_list.3 %}
						<a href="{{ url_for('static', filename='img/fulls/' + el) }}">
							<img src="{{ url_for('static', filename='img/photos/' + el) }}" alt="" />
							{% if content.comment_text[el] %}
								<h3>{{ content.comment_text[el] }}</h3>
							{% else  %}
								<h3>{{ el }}</h3>
							{% endif %}
						</a>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{% for el in content.images_list.2 %}
						<a href="{{ url_for('static', filename='img/fulls/' + el) }}">
							<img src="{{ url_for('static', filename='img/photos/' + el) }}" alt="" />
							{% if content.comment_text[el] %}
								<h3>{{ content.comment_text[el] }}</h3>
							{% else  %}
								<h3>{{ el }}</h3>
							{% endif %}
						</a>
					{% endfor %}
				</div>

			</section>

	</section>
{% endblock %}
