<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Menu -->
				<nav>
					<a href="{{ url_for('multilingual.index') }}">{{_('Main')}}</a>
					<a href="{{ url_for('multilingual.photo_view') }}">{{_('Photos')}}</a>
					<a href="{{ url_for('multilingual.contact_view') }}">{{_('Contacts')}}</a>
				</nav>
				<nav>
					<a href="#">{{_('Language:')}}</a>
					<a href="{{ url_for(request.endpoint, lang_code='en') }}">{{_('English')}}</a>
					<a href="{{ url_for(request.endpoint, lang_code='uk') }}">{{_('Ukraine')}}</a>
				</nav>

				<!-- Header -->
                 {% block header %}
                 {% endblock %}

				<!-- Main -->
                {% block main %}
                {% endblock %}

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; All rights reserved. Design: Yevhen Vovk. 2023</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
	</body>
</html>